---

---

{% include header.html %}

<div class="ui container">

    <div class="ui stackable centered grid">

        <div class="twelve wide justified column">
            <p id="bio">
                Rundong ‘Kevin’ Tian is a human-computer interaction researcher at Shaper Tools, where he is currently designing
                woodworking tools that empower craftspeople. Previously, he received his PhD in computer science from the
                University of California, Berkeley. In his dissertation research, he explored new workflows and interactions for
                digital fabrication tools by building and evaluating interactive systems. Thematically, his work considers how
                technology might engage and extend human capabilities, illuminate tacit knowledge, support creative practices,
                and understand user workflows. <br>
            </p>
        </div> <!-- end ten wide justified column-->

        <div class="four wide column stackable">
            <img class="ui image" src={{ "media/face.jpg" | absolute_url }}>
        </div>


        <div class="twelve wide stackable left aligned column left floated">
            <div class="ui list" id="forwarding">
                <div class="item">
                    <i class="middle aligned map outline icon"></i>
                    <div class="middle aligned content">
                        Berkeley, CA
                    </div>
                </div>

                <div class="item">
                    <i class="middle aligned mail icon"></i>
                    <div class="middle aligned content">
                        rutian [at] berkeley [dot] edu
                    </div>
                </div>

                <div class="item">
                    <i class="middle aligned camera retro icon"></i>
                    <div class="middle aligned content">
                        <a href="https://www.flickr.com/photos/99821513@N07/">Flickr</a>
                    </div>
                </div>

                <div class="item">
                    <i class="middle aligned align left icon"></i>
                    <div class="middle aligned content">
                        <a href={{ "CV" | absolute_url }}>CV</a>
                    </div>
                </div>

            </div> <!-- end ui list -->

        </div> <!-- end column -->


    </div> <!-- end centered grid -->

    <div id="cv" style="display:none">{% include CV.html %}</div>

    {% include footer.html %}



    <script>
        $(document).ready(function () {
            $("#cvToggle").click(function () {
                $("#cv").toggle("fast", "swing");
            });
            $(".kevinAbout").addClass("active");


        });
    </script>